<mat-card>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Hello, {{ authenticatedUser?.username }}!</h1>
        <h2 class="text-center">{{ authenticatedUser?.id }}</h2>
      </div>
    </div>
  </div>
</mat-card>

<mat-card>
  <div class="container">
    <div class="row">
      <div class="col-4 text-center">
        Navigate to '/login'. This will fail if you have an active session
        (which is the case if you're seeing the dashboard). It will simply
        redirect you to '/dashboard'.
        <button mat-flat-button color="primary" [routerLink]="['/login']">
          GO TO /LOGIN
        </button>
      </div>
      <div class="col-4 text-center">
        This works during active sessions. Once you logout however, this button
        will result in failed requests. And if you try to navigate elsewhere,
        you'll be redirected to '/login'.
        <button mat-flat-button color="accent" (click)="getUsers()">
          GET USERS
        </button>
      </div>
      <div class="col-4 text-center">
        Once you logout you end your session and destroy the httpCookie via a
        request to the server. After the session has been terminated, the API
        endpoints become unauthorized and navigating will redirect to '/login'.
        <button mat-flat-button color="warn" (click)="logout()">LOGOUT</button>
      </div>
    </div>
  </div>
</mat-card>

<table mat-table [dataSource]="users" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="#">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let user; index as i">{{ i + 1 }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Username</th>
    <td mat-cell *matCellDef="let user">{{ user.username }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>User ID</th>
    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let user">
      <button
        *ngIf="user?.id == authenticatedUser?.id"
        mat-flat-button
        color="primary"
      >
        Button
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
